@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
    background-image:url(/images/pexels-tomasz-filipek-1891234.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.logo { 
    height: auto;
    width: 150px;
    margin: 0;}
    
header {
    background-color: rgb(243, 188, 235);
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
   justify-content: space-between;
   flex-direction: row;
   transition: all .50s ease;}
.submenu {
    display: flex;
    justify-content: space-between;
    float: right;
    position: absolute;
    right: 15%;
    top: 40px;
    left: 25%;
}
   li a{
    color: #0b6c4cee;   
    font-weight: bolder;
    font-size: 30px;
    text-decoration: none;
}
ul.submenu li {
    list-style-type: none;}
ul.submenu a {
    line-height: 60px;
    padding: 4em 2em;
    list-style-type: none;}
li a:hover{
color: rgba(224, 9, 149, 0.902);}

.intro {
display: flex;
justify-content: center;
align-items: center;
font-family: sans-serif;
width: 100;
min-height: 100vh;
}
.wrapper{
    width: 80%;
    padding: 30px 0;
    text-align: center;
}
.img-lorie{
    height: auto;
    width: 70%;
    
}
.box{
    padding: 0%;
    margin: 0%;
}
.section-header{
    padding-top: 20%;
    color: rgb(172, 10, 134);
    font-size: 45px;
    font-weight: bolder;
}
h2{
    color: #0b6c4cee;
    font-size: 25px;
    padding-bottom: 20px;
    background-color:linear-gradient(#f1b7eb,#9e0b8f);
}
porfolio-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    width: 100;
    min-height: 100vh;   
}
.wrapper-portfolio{
    width: 80%;
    padding: 30px 0;
    text-align: center;}
.img-area{
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}
.image1 {
    height: auto;
    width: 70%;
}
.image2{
    height: auto;
    width: 70%;
    position: relative;
    left: 20%;
}
.image3{
    height: auto;
    width: 70%;
}


